---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: assets/img/health-informatics.png
  caption:
excerpt: 'Demystifying healthcare informatics'
feature_row:
  - image_path: assets/img/eric-headshot.jpeg
    alt: "Eric Rose Headshot"
    title: "Eric Rose"
    excerpt: "Head of Clinical Informatics"
    image_circle: true

  - image_path: assets/img/eleni-headshot.jpeg
    image_circle: true
    alt: "Eleni Ledesma Headshot"
    title: "Eleni Ledesma"
    excerpt: "Cheif Business Officer"
---

{% include feature_row id="intro" type="center" %}

# Who we are

{% include feature_row %}
