---
layout: splash
permalink: /
nav:
  - url: "#purpose"
    description: "WORK"
    title: "WORK"

  - url: "#team"
    description: "TEAM"
    title: "TEAM"

  - url: "#clients"
    description: "CLIENTS"
    title: "CLIENTS"

  - url: "#name"
    description: "OUR NAME"
    title: "OUR NAME"
header:
  image: assets/img/logos-informatics-logo-full.png
  caption:
purpose_list:
  - tagline: "Terminology management and mapping."
    body: "Our expertise extends to all major standardized health vocabularies, including SNOMED CT, LOINC, RxNorm, ICD-10-CM and other versions of ICD-10, CPT-4, CVX, Read Codes, and others."

  - tagline: "Clinical data modeling."
    body: "We have experience modeling clinical data for electronic health record (EHR) and other clinical information systems, and with major standardized clinical information models, including OMOP, FHIR, and others."

  - tagline: "Health data analytics,"
    body: "including analysis of data from EHRs, clinical data repositories, disease registries, and patient-reported data."

  - tagline: "Clinical knowledge modeling,"
    body: "including composing clinical decision support (CDS) rules."

  - tagline: "Functional and UI design"
    body: "of clinician- and consumer-facing clinical software applications."

  - tagline: "Strategic advising"
    body: "related to clinical informatics and health information technology, including industry standards, product strategy, and competitive positioning."

feature_row:
  - image_path: assets/img/eric-headshot.jpeg
    alt: "Eric Rose Headshot"
    title: "Eric Rose, MD, FAAFP, FAMIA"
    subtitle: "Owner and Chief Medical Informatics Officer"
    excerpt: "Dr. Rose is a family physician and clinical informaticist (board-certified in both specialties), with over 20 years’ experience in design, development, and implementation of clinical information systems and computable content.  Dr. Rose has held informatics leadership roles in multiple industry sectors including health systems (University of Washington Medicine and the Veterans Health Administration), technology companies (Intelligent Medical Objects, Microsoft, McKesson), and biotech (TenSixteen Bio).  He has served as an advisor on clinical informatics topics to government (at both the federal and state level), professional societies, industry groups, and health technology startups, and also serves on the faculty of the University of Washington in the Department of Biomedical and Health Informatics."
    image_circle: true

  - image_path: assets/img/eleni-headshot.jpeg
    image_circle: true
    alt: "Eleni Ledesma Headshot"
    title: "Eleni Ledesma"
    subtitle: "Operations Manager"
    excerpt: "Eleni Ledesma brings her outstanding people skills and sharp attention to detail to her role as Operations Manager at Logos Informatics.  She has extensive experience in the fields of human resources and nonprofit management, and is a graduate of the University of Washington."
    reverse: true

clients:
  - name: "Crescendo Health"
    image_path: "assets/img/logo_ch.png"
    link: "https://www.crescendo.health/"

  - name: "Elimu Informatics"
    image_path: "assets/img/logo_elimu.png"
    link: "https://www.elimu.io/"

  - name: "innoVetHEALTH"
    image_path: "assets/img/logo_ivh.png"
    link: "https://www.innovethealth.com/"

  - name: "Lagrange Medical Software Inc."
    image_path: "assets/img/logo_lms.png"

  - name: "MCG Health"
    image_path: "assets/img/logo_mcg.png"
    link: "https://www.mcg.com/"

  - name: "Redesign Health"
    image_path: "assets/img/logo_rh.png"
    link: "https://www.redesignhealth.com/"
---

{% include feature_row id="intro" type="center" %}

<div class="section-header">
  <h1 class="splash-section-title" id="purpose">WHAT WE DO</h1>
  <p>
    Logos Informatics is a clinical informatics consultancy whose mission is to drive client success through optimal management of clinical data.  Our scope of practice includes:
  </p>

</div>

<div class="feature__wrapper">
  {% include purpose_list id="purpose" %}
</div>

<div class="section-header">
  <h1 class="splash-section-title" id="team">WHO WE ARE</h1>
</div>

{% include feature_row %}

<div class="section-header">
  <h1 class="splash-section-title" id="clients">OUR CLIENTS</h1>
  <p class="splash-section-title">
    Logos Informatics is proud to have served the following organizations:
  </p>
</div>

<div class="feature__wrapper">
  <div class="client-logo-container">
    {% for client in page.clients %}
    <img class="client-logo" src="{{client.image_path}}" alt="{{client.name}}">
    {% endfor %}
  </div>
</div>

<div class="section-header">
  <h1 class="splash-section-title" id="name">OUR NAME</h1>
  <p class="splash-section-title">
    <em>Ἐν ἀρχη ηνὁ λόγος: "In the beginning was the word".</em>
  </p>
</div>

<div class="feature__wrapper">
  <p>
  The ancient Greek word "logos" (λόγος) has been used in Western philosophy since the 5th century BCE.  Its meaning has evolved over the centuries, and it is variously translated as "discourse", "reason", or "word".  Aristotle used it to describe persuasion by means of logic, comprising one of the three modes of rhetoric, alongside pathos (persuasion by means of emotion) and ethos (persuasion by means of the speaker's eminence).  Stoic philosophers reimagined logos as a depersonalized force of reason pervading the entire universe, and from which human reason derives.  This conceptualization of logos was later identified with the divine in Jewish and Christian philosophy.  At Logos Informatics, we strive to manifest the ideal expressed in this word by optimizing how clinical data and knowledge is captured, processed, and communicated so that the light of reason can illuminate the work of health care, public health, and scientific research.
  </p>
</div>

<div class="section-header">
  <h1 class="splash-section-title" id="name">CONTACT</h1>
  <p class="splash-section-title">
  Questions? Reach out at <a href="mailto:info@logosinformatics.net">info@logosinformatics.net</a>
  </p>
</div>
